<header>Laura Escobar Correa</header>
<div class="blockchain">
  <div class="blockchain__info">
    <h1 class="blockchain__info-title">CADENA DE BLOQUES</h1>
    <p class="blockchain__info-definition"><strong>Blockchain</strong> es una tecnología de registro distribuido que permite la creación
      y mantenimiento de un registro de transacciones de forma segura, transparente y descentralizada. Consiste en una
      cadena de bloques interconectados, donde cada bloque contiene información y referencias al
      bloque anterior, formando así una secuencia inmutable de registros.
    </p>
  </div>
  <div class="blockchain__controls">
    <input type="text" [(ngModel)]="newData" placeholder="Ingresa información" class="blockchain__controls-input" />
    <button class="button" (click)="newBlock()">Crear Nuevo Bloque</button>
    <button class="button" (click)="updateData()">Actualizar Último Bloque</button>
  </div>
  <div class="blockchain__blocks">
    <div class="blockchain__blocks-container">
      <div class="blockchain__blocks-block" *ngFor="let block of blockchain">
        <div class="blockchain__blocks-block-item">
          <p><strong>Data:</strong> {{ block.data }}</p>
          <p><strong>Hash:</strong> {{ block.hash }}</p>
          <p><strong>Prev. Hash:</strong> {{ block.previousHash }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blockchain__controls blockchain__controls-end">
    <button class="button" (click)="resetBlockchain()" id="deleteButton">Eliminar Bloques</button>
    <button class="button" (click)="saveBlockchainData()" id="saveButton">Guardar Bloques</button>
  </div>
</div>